<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="{{ '/index.html' | prepend: site.baseurl | prepend: site.url }}">Home</a></li>
		<li><a href="{{ '/2017/10/04/schedule.html' | prepend: site.baseurl | prepend: site.url }}" >Schedule</a></li>
		<li><a href="{{ '/2017/10/04/faq.html' | prepend: site.baseurl | prepend: site.url }}">FAQ</a></li>
		<li><a href="{{ '/2017/10/04/sponsors.html' | prepend: site.baseurl | prepend: site.url }}">Sponsors</a></li>
		<li><a href="{{ '/2017/10/04/team.html' | prepend: site.baseurl | prepend: site.url }}">Team</a></li>
	</ul>
	<ul class="actions vertical">
		<li><a href="{{ '/signup.html' | prepend: site.baseurl | prepend: site.url }}"" class="button special fit">Register/Sign Up</a></li>
	</ul>
</nav>
